*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #011D5F;
}

.ifit-logo{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}


.flags {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2.5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}


.flag{  
    transition: ease 0.5s;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.656);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.656);
    margin-top: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.646);
}

.flag:hover{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.493);
    margin-top: 35%;
}

.flags a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: initial;
}

.flags p{
    position: relative;
    font-size: 1rem;
    padding-top: 30px;  
}

@media (max-width:450px){
    .ifit-logo{
        width: 90%;
        padding-top: 60%;
    }

    .flags {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: .1rem;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .flag{  
        transition: ease 0.5s;
        border-radius: 50%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.656);
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.656);
        margin-top: 80%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.646);
    }

    .flags p{
        position: relative;
        font-size: 10px;
        padding-top: 15px;  
        color: rgba(255, 255, 255, 0.646)
    }
}



